body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

#mainbox01 {
    width: 400px;
    height: 710px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px outset rgba(56, 55, 55, 0.267);
}

.box02 {
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-image: url('DC3_img/laptopDesk.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.box02 .intro {
    overflow: hidden;
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.616);
}

.img_user {
    width: 130px;
    height: 130px;
    background-image: url('DC3_img/user.png');
    background-size: cover;
    border-radius: 50%;
    position: relative;
    top: 8%;
    left: 33%;
    border: 3px solid white;
}

.intro h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 30px;
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 1px;
}

.intro h3 {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.418);
    font-weight: 100;
    margin-top: -15px;
    letter-spacing: 0.5px;
}

.intro h4 {
    font-family: 'Lato', sans-serif;
    color: gold;
    text-align: center;
    font-size: 22px;
    margin-top: -10px;
    letter-spacing: 1px;
}

#box03 {
    overflow: hidden;
    width: 100%;
    height: 410px;
    background-color: rgb(236, 233, 233);
    background-size: cover;
}

.detail_box0 {
    width: 100%;
    height: 140px;
    overflow: hidden;
    background-color: rgb(236, 233, 233);
    ;
}

.detail_box0 h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 12%;
    position: relative;
    color: black;
    font-weight: 600;
    margin-block-end: 0;
}

.detail_box0 p {
    text-align: center;
    font-size: 20px;
    margin-block-start: 0;
}

.detail_box0 p::after {
    position: absolute;
    content: '';
    border-top: 2px solid orange;
    width: 60px;
    top: 55%;
    left: 54%;
}

.detail_box0 p::before {
    position: absolute;
    content: '';
    border-top: 2px solid orange;
    width: 60px;
    top: 55%;
    left: 30%;
}

.detail_box1 {
    width: 97%;
    margin: auto;
    height: 55px;
    overflow: hidden;
    background-color: brown;
}

.sub_detail1 {
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: white;
    border-left: 5px solid gold;
    padding: 3% 0 0 3%;
}

.detail_box2 {
    width: 97%;
    margin: auto;
    overflow: hidden;
    transform: translatey(10px);
    height: 55px;
    background-color: white;
}

.sub_detail2 {
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: white;
    border-left: 5px solid gold;
    padding: 3% 0 0 3%;
}

.detail_box3 {
    width: 97%;
    margin: auto;
    height: 55px;
    overflow: hidden;
    transform: translatey(20px);
    background-color: white;
}

.sub_detail3 {
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: white;
    border-left: 5px solid gold;
    padding: 3% 0 0 3%;
}

.detail_box4 {
    width: 97%;
    margin: auto;
    height: 55px;
    overflow: hidden;
    transform: translatey(30px);
    background-color: white;
}

.sub_detail4 {
    width: 100%;
    height: 55px;
    overflow: hidden;
    background-color: white;
    border-left: 5px solid gold;
    padding: 3% 0 0 3%;
}